<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Agriculture Experiment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/finishpage.css"> 
  </head>
  <body>
    <div class="main">
      <header class="jumbotron">
        <h1 class="headerquote">Agriculture Experiment</h1>
      </header>
      <span class="menu"><strong>Your ID: <%=id%> </strong></span>
      <div class="centerContain">
        <p class="finalthank">THIS IS THE END OF THE EXPERIMENT!<br>THANK YOU FOR YOUR PARTICIPATION!</p>
      </div>
      <p class="footer">Graphic Lab</p>
    </div>
  </body>
</html>
