<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Agriculture Experiment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/firstpage.css"> 
    
  </head>
  <body>
    <div class="w3-container">
      <table>
        <tr>
          <td class="title">
            <h1 class="name">Agriculture Experiment</h1>
            <a id="beginlink" href="/getId" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Begin</a>
          </td>
          <td class="image">
            <!--<img src="/Stuffs/plant.jpg">-->
            <img src="https://s3.us-west-1.amazonaws.com/plantexperiments/Stuffs/plant.jpg"></img>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
