html{
    position: relative;
    min-height: 100%;
    min-width: 100%;
}
.main{
    height: 100%;
    width:100%;
}
.footer{
    position: absolute;
    top:90%;
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    width:100%;
    bottom:0;
    font-size: 1vw;
}
.menu{
    margin:5px;
    font-size: 1vw;
}
.headerquote{
    text-align:center;
}
.centerContain{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%)
}
.finalthank{
    font-size:2vw;
}
